:root {
    /* Light */
    --light-background: #ffffff;
    --light-input-border: #e8e8eb;
    --light-icon: #616176;
    --light-text: black;
    --light-text-alt: #ffffff;
    --light-footer: #d2d2d7;;
    --light-card-background: #bbbbc4;
    --light-radio-toolbar-selected: #4b4b62;
    --light-radio-toolbar-hover: #8e8e9d;
    --light-radio-group-selected: #8e8e9d;
    --light-radio-group-hover: #bbbbc4; 
    --light-a-link: blue;
    --light-a-visited: purple;

    /* Dark */
    --dark-background: #4b4b62;
    --dark-input-border: #35354f;
    --dark-icon: #616176;
    --dark-text: #b1b1b1;
    --dark-text-alt: #3d3d51;
    --dark-footer: #35354f;;
    --dark-card-background: #616176;
    --dark-radio-toolbar-selected: #787889;
    --dark-radio-toolbar-hover: #8e8e9d;
    --dark-radio-group-selected: #787889;
    --dark-radio-group-hover: #bbbbc4; 
    --dark-a-link: rgb(108, 108, 254);
    --dark-a-visited: rgb(150, 78, 150);

    --light-denary: #ffffff;
    --light-nonary: #e8e8eb;
    --light-octonary: #d2d2d7;
    --light-septenary: #bbbbc4;
    --light-senary: #a5a5b0;
    --light-quinary: #8e8e9d;
    --light-quaternary: #787889;
    --light-tertiary: #616176;
    --light-secondary: #4b4b62;
    --light-primary: #35354f;
    --light-text: black;
}