@import './constants.css';

body {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 0;
    text-align: center;
    background-color: var(--light-background);
}
.fa-circle-info {
    color: var(--light-icon);
    font-size: 0.1 !important; 
}
.fa-rotate-left {
    cursor: pointer;
    color: var(--light-icon);
}
input:not(.custom-radio) {
    width: inherit;
}
.grid-input select {
    background-color: var(--light-background);
}
.fa-circle-half-stroke {
    margin-left: 40px;
    cursor: pointer;
}
.dropdown {
    color: var(--light-text);
}
.statblock-input {
    cursor: pointer;
}
.fa-image {
    cursor: pointer;
}
.fa-dice-d20 {
    cursor: pointer;
}
.fa-dungeon {
    cursor: pointer;
}
/* ================
    CUSTOM INPUT
================= */
/* Source: http://jsfiddle.net/polaszk/1oyfxoor/ */
input,
textarea {
  border: 1px solid var(--light-nonary);
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
  background-color: var(--light-background);
  color: var(--light-text);
}
input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-group {
  clear: both;
  margin: 5px 0;
  position: relative;
  height: 38px;
  display: flex;
}
.input-group input[type='button'] {
  background-color: var(--light-input-border);
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}
.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}
.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}
.button-minus, .button-plus {
    background-color: var(--light-input-border) !important;
    font-size: 20px;
}
.button-plus {
    left: -5px;
}
.button-minus {
    left: 5px
}
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
.number-input {
    height: 38px;
}
/* ================
      FOOTER
================= */
#footer-parent {
    background-color: var(--light-footer) !important;
    z-index: 100 !important;
    border-top: black solid 1px !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    vertical-align: middle;
    font-family: open sans, sans-serif;
    color: var(--light-text);
}
#footer-parent a:link {
    color: var(--light-a-link);
}

#footer-parent a:visited {
    color: var(--light-a-visited);
}
.emoji { vertical-align: middle; }

/* ======================= 
        RADIO TOOLBAR
========================== */
.radio-toolbar {
    margin: 15px;
}
.radio-toolbar :checked + span {
    font-weight: bold;
    background-color: var(--light-radio-toolbar-selected);
    color: var(--light-text-alt);
    border: black 2px solid;
    margin: auto;
}
.checkbox {
    display: none;
}
.radio-toolbar :not(:checked) + span {
    background-color: var(--light-input-border);
    color: var(--light-text);
    border: black 2px solid;
}
.radio-toolbar span {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
}
.radio-toolbar input {
    cursor: pointer;
}
label {
    display: inline-block;
}
.radio-toolbar {
    margin-top: 30px;
}
.radio-toolbar label :hover {
    background-color: var(--light-radio-toolbar-hover);
    color: var(--light-text);
}

/* ======================= 
        RADIO GROUPS
========================== */
.radio-group {
    margin: 5px;
    /* margin-top: 30px; */
}
.radio-group :checked + span {
    font-weight: bold;
    background-color: var(--light-radio-group-selected);
    color: var(--light-text);
    border: black 2px solid;
    margin: auto;
}
.checkbox {
    display: none;
}
.radio-group :not(:checked) + span {
    background-color: var(--light-background);
    color: var(--light-text);;
    border: black 2px solid;
}
.radio-group span {
    cursor: pointer;
    padding: 5px;
    margin: 2px;
    border-radius: 3px;
}
.radio-group input {
    cursor: pointer;
}
label {
    display: inline-block;
    margin-top: 20px;
}
.radio-group label :hover {
    background-color: var(--light-radio-group-hover);
    color: var(--light-text);
}
/* ======================= 
           Grid
========================== */
.grid-container {
    display: inline-grid;
    column-gap: 50px;
}
.grid-statblock {
    grid-column-start: 1;
    grid-row-start: 1;
}
.grid-inputs {
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    column-gap: 10px;
    overflow-wrap: normal;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 600px;
}
.grid-row {
    grid-column: 1 span 2;
    display: grid;
    height: fit-content;
    align-content: center;
    text-align: center;
    border: solid black 1px;
    border-radius: 10px;
    padding: 4px;
    margin: 4px;
    background-color: var(--light-card-background);
    /* box-shadow: 0 0 0.75em #867453; */
}
.grid-row > * {
    margin: 2px;
}
.grid-header {
    /* grid-column-start: 1; */
    grid-column-end: 2;
    font-weight: bold;
    color: var(--light-text);
}
.grid-input {
    grid-column-start: 1;
    grid-column-end: 1;
    width: fit-content;
    align-content: center;
    text-align: center !important;
    vertical-align: middle !important;
    color: var(--light-text);
}
.grid-heading {
    width: 100%;
    display: flex;
    column-gap: 15px;
}

/* ======================= 
           Modal
========================== */

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 15% auto; /* 15% from the top and centered */
padding: 20px;
border: 1px solid #888;
max-width: 500px;
}
/* The Close Button */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}
/* The Modal Header */
.modal-header {
    text-transform: capitalize;
}
/* Close X  */
.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
} 
.modal-flex-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}
.modal-flex-element {
    max-width: 25%;
    /* max-height: 50px; */
    flex: 25%;
    text-align: start;
}
.ellipsis {
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    vertical-align: middle;
}