body {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 0;
    text-align: center;
}
.fa-circle-info {
    color: #30D5C8;
}
input {
    width: 50px;
}
/* ================
      PC SPAN
================= */
.player-characters {
    margin: 20px;
    overflow: visible;
}
.player-character {
    padding: 8px;
    margin: 2px;
    background-color: #ffcccb;
    font-weight: bold;
    border: red 2px solid;
    border-radius: 8px;
}
.player-character .fa-solid {
    cursor: pointer;
    color: red;
}
.player-character .fa-solid :hover {
    cursor: pointer;
    color: darkred !important;
}
/* ================
      FOOTER
================= */
#footer-parent {
    background-color: #b1fcf7 !important;
    z-index: 100 !important;
    border-top: black solid 1px !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    vertical-align: middle;
    font-family: open sans, sans-serif;
}
.emoji { vertical-align: middle; }

/* ======================= 
        RADIO GROUPS
========================== */
.radio-toolbar {
    margin: 15px;
}
.radio-toolbar :checked + span {
    font-weight: bold;
    background-color: #30D5C8;
    color: var(--light-nonary);
    border: black 2px dashed;
    margin: auto;
}
.checkbox {
    display: none;
}
.radio-toolbar :not(:checked) + span {
    background-color: white;
    color: black;
    border: black 2px solid;
}
.radio-toolbar span {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
}
.radio-toolbar input {
    cursor: pointer;
}
label {
    display: inline-block;
}
.radio-toolbar {
    margin-top: 30px;
}
.radio-toolbar label :hover {
    background-color: #007FFF;
}

/* ======================= 
           Grid
========================== */
.grid-container {
    display: inline-grid;
    column-gap: 50px;
}
.grid-statblock {
    grid-column-start: 1;
    grid-row-start: 1;
}
.grid-inputs {
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    column-gap: 15px;
    overflow-wrap: normal;
    flex-direction: row;
    flex-wrap: wrap;
}
.grid-row {
    grid-column: 1 span 2;
    display: grid;
    height: fit-content;
    align-content: center;
    text-align: center;
    border: solid black 1px;
    border-radius: 5px;
    padding: 4px;
}
.grid-row > * {
    margin: 2px;
}
.grid-header {
    grid-column-start: 1;
    grid-column-end: 2;
}
.grid-input {
    grid-column-start: 1;
    grid-column-end: 1;
    width: fit-content;
}