:root {
    /* Light */
    --light-denary: #ffffff;
    --light-nonary: #e8e8eb;
    --light-octonary: #d2d2d7;
    --light-septenary: #bbbbc4;
    --light-senary: #a5a5b0;
    --light-quinary: #8e8e9d;
    --light-quaternary: #787889;
    --light-tertiary: #616176;
    --light-secondary: #4b4b62;
    --light-primary: #35354f;
    --light-text: black;
    --light-text-alt: #e8e8eb;

    /* Dark */

}

body {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 0;
    text-align: center;
}
.fa-circle-info {
    color: var(--light-tertiary);
}
.fa-rotate-left {
    cursor: pointer;
    color: var(--light-tertiary);
}
input:not(.custom-radio) {
    width: inherit;
}

/* ================
    CUSTOM INPUT
================= */
/* Source: http://jsfiddle.net/polaszk/1oyfxoor/ */
input,
textarea {
  border: 1px solid var(--light-nonary);
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}
input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-group {
  clear: both;
  margin: 5px 0;
  position: relative;
}
.input-group input[type='button'] {
  background-color: var(--light-nonary);
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}
.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}
.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}
.button-plus {
  left: -13px;
}
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
/* ================
      PC SPAN
================= */
.player-characters {
    margin: 20px;
    overflow: visible;
}
.player-character {
    padding: 8px;
    margin: 2px;
    background-color: #ffcccb;
    font-weight: bold;
    border: red 2px solid;
    border-radius: 8px;
}
.player-character .fa-solid {
    cursor: pointer;
    color: red;
}
.player-character .fa-solid :hover {
    cursor: pointer;
    color: darkred !important;
}
/* ================
      FOOTER
================= */
#footer-parent {
    background-color: var(--light-nonary) !important;
    z-index: 100 !important;
    border-top: black solid 1px !important;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    vertical-align: middle;
    font-family: open sans, sans-serif;
}
.emoji { vertical-align: middle; }

/* ======================= 
        RADIO GROUPS
========================== */
.radio-toolbar {
    margin: 15px;
}
.radio-toolbar :checked + span {
    font-weight: bold;
    background-color: var(--light-septenary);
    color: var(--light-text);
    border: black 2px solid;
    margin: auto;
}
.checkbox {
    display: none;
}
.radio-toolbar :not(:checked) + span {
    background-color: white;
    color: black;
    border: black 2px solid;
}
.radio-toolbar span {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
}
.radio-toolbar input {
    cursor: pointer;
}
label {
    display: inline-block;
}
.radio-toolbar {
    margin-top: 30px;
}
.radio-toolbar label :hover {
    background-color: var(--light-secondary);
    color: var(--light-text-alt);
}

/* ======================= 
           Grid
========================== */
.grid-container {
    display: inline-grid;
    column-gap: 50px;
}
.grid-statblock {
    grid-column-start: 1;
    grid-row-start: 1;
}
.grid-inputs {
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    column-gap: 10px;
    overflow-wrap: normal;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 600px;
}
.grid-row {
    grid-column: 1 span 2;
    display: grid;
    height: fit-content;
    align-content: center;
    text-align: center;
    border: solid black 1px;
    border-radius: 10px;
    padding: 4px;
    margin: 4px;
    background-color: var(--light-octonary);
}
.grid-row > * {
    margin: 2px;
}
.grid-header {
    grid-column-start: 1;
    grid-column-end: 2;
    font-weight: bold;
}
.grid-input {
    grid-column-start: 1;
    grid-column-end: 1;
    width: fit-content;
    align-content: center;
    text-align: center;
}
.grid-heading {
    width: 100%;
    display: flex;
    column-gap: 15px;
}